* {
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(6, 75, 12);
}
.hide {
    display: none;
}
.lines{
    width: 10px;
    height: 70px;
    margin-left: 240px;
    background: white;
    position: absolute;

}
.car, .enemy{
    position: absolute;
    background-color: white;
    background-image: url(car1.png);
    background-position: center;
    background-size: 100% 100%;
    width: 60px;
    background-repeat: no-repeat;
    height: 90px;
    bottom: 50px;
    

}
audio{
    position: absolute;
}
.score{
    position: fixed;
    background-color: yellow;
    top: 50px;
    z-index: 99;
    left: 50px;
    padding:20px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.startScreen{
    background-color: #012;
    text-align: center;
    color: white;
    padding: 60px;
    z-index: 1;
    position: absolute;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.gameArea{
    background-color: rgb(19, 18, 41);
    width:500px;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    position: relative;
}